#header{
	width: 100%;
	background-color: #0278C8;
	padding-top: 1%;
	padding-bottom: 2%;
	border-bottom: 2px solid #000;
}
.logo{
	float:left;
}
.search{
	float:right;
	margin-top:  3%;;
}
.container{
	width: 980px;
	margin: 0px auto;
	position: relative;
}
#content{
	margin-top: 2%;
}
#content .leerjaar1{
	float:left; 
	width: 48%;	
	height: 150px;	
}
#content .leerjaar2{
	float:right;
	width:48%;
	height: 150px;
}
#content .leerjaar3{
	margin-top: 1%;
	float:left;
	width:48%;
	height: 150px;
}

#content .leerjaar4{
	margin-top: 1%;
	float:right;
	width:48%;
	height: 150px;
}
#content .header{
	font-size: 16px;
	color: #000;
	padding: 5px;
	background-color: red;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}
#content .red{
	background-color: red;
}
#content .orange{
	background-color: orange;
}
#content .green{
	background-color: green;
}
#content .yellow{
	background-color: yellow;
}
#content .header p{
	margin-left: 10px;
	margin-top: 5px;
}
#content .content{
	background-color: #fff;
	height: 100px;
	border: 1px solid #ddd;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}
#content .content p{
	margin-left: 10px;
	margin-top: 5px;
}
#content .content a{
	color: #000;	
}
#content .content a:hover{
	text-decoration: none;
	color: blue;
	font-weight: bold;
}
/** FOOTER **/
#footer{
	margin-top: 5%;
	background-color: #000;
	padding: 10px 0;
	color: #fff;
	text-align: center;
	position:fixed;
	bottom:0;
	width: 100%;
}
#footer a{
	color: #fff;
	text-decoration: none;
}
#footer a:hover{
	color: #fff;
}
#footer .copyright{
	float:left;
}
#footer .terms{
	float:right;
}
@media (max-width:400px) {
	.search{
		clear:both;
		float:none;
		padding-top: 4%;
	}
	.container{
		width: 100%;
		margin: 0px auto;
		position: relative;
	}
	#content .leerjaar1, #content .leerjaar2, #content .leerjaar3, #content .leerjaar4{
	clear:both;
	width: 100%;
	margin-top: 4%;
	}
	#content .leerjaar4{
		margin-bottom: 20%;
	}
}