{% extends 'base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Error ?!</li>
    </ol>
	<div id="content">
		<div class="container">
			<div class="onderwerp center">
                <h2>Error: {{ errorCode }}</h2>
				<h2>Daar gaat iets niet goed!?</h2>
                <p>Mogelijk bestaat deze pagina niet of is deze momenteel niet beschikbaar</p>
			</div>
			<div class="contact">
			<hr>
			<h2>Contact</h2>
			<a href="">info@hogeschoolzeeland.nl</a>
			</div>
		</div>
	</div>
{% endblock body %}