{% extends 'base.html.twig' %}

{% block body %}

	<div id="breadcrumbs">
		<div class="container">
			<a href="/">Home</a> // 
			<a href="#">Error !?!?!</a>
		</div>
	</div>
	<div id="content">
		<div class="container">
			<div class="leerjaar1 onderwerp center">
				<h2>Daar gaat iets niet goed!?</h2>
			</div>
			<div class="contact">
			<hr>
			<h2>Contact</h2>
			<a href="">info@hogeschoolzeeland.nl</a>
			</div>
		</div>
	</div>
{% endblock body %}