{% extends 'base.html.twig' %}

{% block body %}
    <div class="leerjaar1">
        <div class="header red"><p>Leerjaar 1</p></div>
        <div class="content red">
            <p>
                - <a href="#">Onderwerp 1</a> <br>
                - <a href="#">Onderwerp 2</a> <br>
                - <a href="#">Onderwerp 3</a> <br>
                - <a href="#">Onderwerp 4</a> <br>
            </p>
            <p class="more"><a href="">Meer items...</a></p>
        </div>
    </div>
    <div class="leerjaar2">
        <div class="header orange"><p>Leerjaar 2</p></div>
        <div class="content orange">
            <p>
                - <a href="#">Onderwerp 1</a> <br>
                - <a href="#">Onderwerp 2</a> <br>
                - <a href="#">Onderwerp 3</a> <br>
                - <a href="#">Onderwerp 4</a> <br>
            </p>
            <p class="more"><a href="">Meer items...</a></p>
        </div>
    </div>
    <div class="leerjaar3">
        <div class="header green"><p>Leerjaar 3</p></div>
        <div class="content green">
            <p>
                - <a href="#">Onderwerp 1</a> <br>
                - <a href="#">Onderwerp 2</a> <br>
                - <a href="#">Onderwerp 3</a> <br>
                - <a href="#">Onderwerp 4</a> <br>
            </p>
            <p class="more"><a href="">Meer items...</a></p>
        </div>
    </div>
    <div class="leerjaar4">
        <div class="header blue"><p>Leerjaar 4</p></div>
        <div class="content blue">
            <p>
                - <a href="#">Onderwerp 1</a> <br>
                - <a href="#">Onderwerp 2</a> <br>
                - <a href="#">Onderwerp 3</a> <br>
                - <a href="#">Onderwerp 4</a> <br>
            </p>
            <p class="more"><a href="">Meer items...</a></p>
        </div>
    </div>
{% endblock body %}