{% extends 'base.html.twig' %}

{% block body %}
    <div class="leerjaar1">
        <div class="header red"><p>Leerjaar1</p></div>
        <div class="content">
            <p>
                - <a href="#">onderwerp 1</a> <br>
                - <a href="#">onderwerp 2</a> <br>
                - <a href="#">onderwerp 3</a> <br>
            </p>
        </div>
    </div>
    <div class="leerjaar2">
        <div class="header orange"><p>Leerjaar2</p></div>
        <div class="content"></div>
    </div>
    <div class="leerjaar3">
        <div class="header green"><p>Leerjaar3</p></div>
        <div class="content"></div>
    </div>
    <div class="leerjaar4">
        <div class="header yellow"><p>Leerjaar4</p></div>
        <div class="content"></div>
    </div>
{% endblock body %}